@import "../../css-config/mixins.scss";

.main-header{
    width: 100%;
    background-color: rgb(0, 0, 0);
    color:white;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 0 20px;
    z-index: 99;

    @include md{
        padding: 0 40px;
    }

    .header-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        margin: 0 auto;
        max-width: 1200px;
        @include md{
            height: 80px;
        }

        .left{
            list-style-type: none;
            display: none;
            gap: 25px;
            
            @include md{
                display: flex;
            }

            li{
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                cursor: pointer;
            }
        }

        .center{
            font-size: 22px;
            color: rgb(0,217,255);
            fow: 700px;
            cursor: pointer;

            @include md{
                font-size: 34px;
                position: absolute;
                left: 50%;
                color: rgb(0,225,255);
                transform: translateX(-50%);

            }
        }

        .right{
            display: flex;
            align-items: center;
            gap: 20px;
            @include md{
                gap: 25px;
            }

            svg{
                font-size: 20px;
                cursor: pointer;
                @include md{
                    font-size: 24px;
                }
            }
        }



    }
}
